<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scape=1.0"/>
<meta name="description" content="#" />

@if(ViewBag.Title != null)
{
    <title>@ViewBag.Title</title>
}
else
{
    <title>SexyShop</title>    
}